<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:include="layout/main-layout :: site-head" th:remove="tag" />
<title th:text="#{label.pinnews.title}"></title>
</head>

<body>

	<header th:replace="layout/main-layout :: main-header"></header>

	<div class="container-fluid global_topmargin">
		<div class="row">
			<!-- işlem alanı  -->
			<div class="col-md-9">
				<div class="col-md-4">
					<div class="row">
						<section
							th:replace="fragment/popular-hashtags :: popular-hashtags"
							th:remove="tag"></section>
					</div>
				</div>
				<div id="main-content" class="col-md-8">
					<section
						th:replace="fragment/post-summary-list :: post-summary-list"
						th:remove="tag"></section>
				</div>
			</div>
			<!-- Profil alanı  -->
			<section th:replace="layout/profile-layout :: profile-summary"
				th:remove="tag"></section>
		</div>
	</div>

	<footer th:replace="layout/profile-layout :: profile-footer"></footer>

	<script th:inline="javascript">
			/*<![CDATA[*/
				
				$(function(){
					var pageNum = [[${pageHolder.currentPage+1}]];
					$(window).scroll(function(){
						var scroll=$(this).scrollTop();
						var uzunluk=$(document).height()-$(this).height();		
			
						if(scroll==uzunluk){
							var s=$(this).scrollTop();
							if([[${pageHolder.totalCount}]]/[[${pageHolder.pageSize}]] > pageNum){
								$.ajax({
									type : "GET",
									url : contextRoot + [[${pageHolder.pageUrl}]],
									data : { pageNum: pageNum,
									pageSize:[[${pageHolder.pageSize}]],
									totalCount:[[${pageHolder.totalCount}]]
									},
									success : function(data) {						
									var datapart=$(data).find("#main-content").html();
									$('#main-content').append(datapart);
									$(this).scrollTop(s);
									pageNum+=1;
									}
								});
							}
						}		
					});
				});			
			/*]]>*/
		</script>

</body>
</html>