<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="site-head">

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../resources/css/bootstrap.css"
	th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" href="../../resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../resources/css/styles.css"
	th:href="@{/resources/css/styles.css}" />

<script src="../../resources/js/jquery-3.2.1.min.js"
	th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script src="../../resources/js/bootstrap.js"
	th:src="@{/resources/js/bootstrap.js}"></script>
<script src="../../resources/js/my-scripts.js"
	th:src="@{/resources/js/my-scripts.js}"></script>

</head>

<body>

	<header th:fragment="normal-header">
		<div class="container navbar-static-top">
			<div class="row navbarbackground">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation">
						<div sec:authorize="isAnonymous()" th:remove="tag">
							<a th:href="@{/home}" th:text="#{btn.home}">Anasayfa</a>
						</div>
						<div sec:authorize="isAuthenticated()" th:remove="tag">
							<a th:href="@{/main/}" th:text="#{btn.home}">Anasayfa</a>
						</div>
					</li>
					<li role="presentation"><a th:href="@{/#register}"
						th:text="#{btn.register}">Kayıt Ol</a></li>
					<li role="presentation">
						<div sec:authorize="isAnonymous()" th:remove="tag">
							<a th:href="@{/login}" th:text="#{btn.login}">Giriş Yap</a>
						</div>
						<div sec:authorize="isAuthenticated()" th:remove="tag">
							<a th:href="@{/logout}" th:text="#{btn.logout}">Çıkış Yap</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>


	<footer th:fragment="site-footer">
		<!--  Son -->
		<div class="footer">
			<div class="container ">
				<div class="row ">
					<div class="col-sm-4 col-md-4"></div>
					<div class="col-sm-4 col-md-4">
						<p>Spring Mvc Güzeldir :)</p>
					</div>
					<div class="col-sm-4 col-md-4"></div>
				</div>				
			</div>
		</div>

		<p th:text="${operationmessage}" id="snackbar"></p>
	</footer>

</body>
</html>