<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/home" access="permitAll" />
		<intercept-url pattern="/**" access="permitAll" />
		<intercept-url pattern="/admin/**" access="isAuthenticated()" />
		<intercept-url pattern="/profile/**" access="isAuthenticated()" />
		<intercept-url pattern="/post/**" access="isAuthenticated()" />
		<intercept-url pattern="/main/**" access="isAuthenticated()" />
		<intercept-url pattern="/comment/**" access="isAuthenticated()" />
		<intercept-url pattern="/follow/**" access="isAuthenticated()" />
		<intercept-url pattern="/pinnews/**" access="isAuthenticated()" />
		<intercept-url pattern="/reservednews/**" access="isAuthenticated()" />
		<intercept-url pattern="/search/**" access="isAuthenticated()" />
		<form-login login-page="/login" username-parameter="username"
			password-parameter="password" default-target-url="/main/"
			authentication-failure-url="/loginerror?error=true" />
		<access-denied-handler error-page="/accessDenied" />
		<logout logout-success-url="/logout" delete-cookies="JSESSIONID" />
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="MyUserDetailsService">
			<password-encoder ref="bcryptEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="MyUserDetailsService" class="com.cruz.security.MyUserDetailsService" />
	<beans:bean id="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

</beans:beans>