<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:include="layout/admin-layout :: site-head" th:remove="tag" />
</head>

<body>

	<header th:replace="layout/admin-layout :: admin-header"></header>

	<div class="container-fluid global_topmargin">
		<div class="row">
			<!-- işlem alanı  -->
			<div class="col-md-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title" th:text="#{label.editprofile.paneltitle}">Düzenleme
							Formu</h1>
					</div>

					<form th:action="@{/upload/fileUploadPage}" enctype="multipart/form-data"
						method="post">
						<div class="panel-body">
							<input type="file" name="file" />
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="form-actions">
									<input type="submit" th:value="#{btn.register}"
										class="btn btn-primary col-md-4 col-md-offset-4" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- Profil alanı  -->
			<section th:replace="layout/admin-layout :: right-sidebar"
				th:remove="tag"></section>
		</div>
	</div>


	<footer th:replace="layout/admin-layout :: admin-footer"></footer>
</body>
</html>